.trending-section {
    background: linear-gradient(to bottom, #6366F1, #4F46E5);
    padding-top: 100px; /* Adjust as needed */
    margin: 0;
    
}
/* TrendingSection.css */  

@keyframes moveLeft {  
    0% {  
      transform: translateX(100%); /* Start from outside the right */  
    }  
    100% {  
      transform: translateX(-100%); /* End outside the left */  
    }  
  }  
  
  .moving-categories {  
    display: flex;  
    animation: moveLeft 10s linear infinite; /* You can adjust the duration */  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic
  }
  .text {
    text-align: left ;
    font-size: 30px ;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin-left: 30px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  